/* General Styles */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header, .brand-logos, .featured-products, footer {
  padding: 20px;
}

header {
  background-color: #8fc08f; /* Color de fondo original */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.App-logo {
  height: 40px;
}

.search-bar, .auth-buttons {
  display: flex;
  align-items: center;
}

.search-input, .auth-button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-input {
  border: 1px solid #ccc;
}

.search-button, .auth-button {
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-buttons {
  gap: 10px;
}

.brand-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  flex-wrap: wrap;
}

.brand-logo img {
  width: 10vw; /* El tamaño del logo será el 10% del ancho de la pantalla */
  max-width: 150px;
  min-width: 60px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease;
}

.brand-logo img:hover {
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .brand-logo img {
    width: 15vw;
  }
}

@media (max-width: 480px) {
  .brand-logo img {
    width: 20vw;
  }
}

.featured-products .product-grid {
  display: flex;
  justify-content: space-around;
}

.product-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  background-color: #004d40; /* Verde oscuro */
  color: white;
}

footer p {
  margin: 0;
}

/* Slider */
.slider {
  margin: 20px 0;
}

.slider-images {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease;
}

.slide:hover {
  transform: scale(1.1);
}

/* Productos destacados */
.productos-destacados {
  text-align: left;
}

.productos-destacados h3 {
  margin-bottom: 10px;
}

.productos-destacados ul {
  list-style: none;
  padding: 0;
}

.productos-destacados li {
  margin-bottom: 10px;
}
